
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item{
    display: block;
    width: 12rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gallery-item h2{
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    text-decoration: none;
}
















































































































